.categorie-name {
    font-size: 24px;
    padding: 0 0 1rem 3rem;
}

.container {
    position: relative;
    display: flex;
    /* justify-content: center; */
}

.slider {
    display: flex;
    width: 100%;
    padding: 0 2.5rem;
    align-self: center;
    transition: all ease 1s;
    /* transform: translateX(-100%); */
}

.slider > img {
    flex: 0 0 calc(100% / 5);
    height: 150px;
    padding: 0.25rem;
    border-radius: 10px;
    transition: all ease 0.3s;
}

.slider > img:hover {
    transform: scale(1.1);
}

.arrow {
    z-index: 1;
    display: flex;
    align-items: center;
    align-self: center;
    position: absolute;
    width: 2.3rem;
    cursor: pointer;
    font-size: 24px;
    height: calc(100% - 0.5rem);
    background-color: rgba(0, 0, 0, 0.7);
}

.arrow-left {
    border-radius: 0 10px 10px 0;
    left: 0;
}

.arrow-right {
    border-radius: 10px 0 0 10px;
    right: 0;
}
