header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #111, transparent);

    transition: all 0.3s;
}

.netflix-logo,
.user-logo {
    padding: 0 3.8rem;
}

.netflix-logo {
    height: 25px;
}
.netflix-logo img {
    height: 100%;
}

.user-logo {
    height: 35px;
}
.user-logo img {
    height: 100%;
    border-radius: 5px;
}

/* HELPER */
.header--dark-background {
    background-color: #141414;
}
